SECRET_KEY=django-insecure-change-this-in-production-please
DEBUG=True
GROQ_API_KEY=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
AGRO_API_KEY=c3f8f9769340332ca9406df59c200ed0
CDSE_USERNAME=akbarkhojayev@gmail.com
CDSE_PASSWORD=~+N5-67Mc*=wSA#
GEONAMES_USERNAME=abbbos
